@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .screen {
    @apply max-w-screen-xl flex flex-wrap justify-between mx-auto w-full p-4 md:p-8;
  }
}

body {
  @apply bg-black text-white;
}

::-webkit-scrollbar {
  width: 0.4rem;
}

::-webkit-scrollbar-thumb {
  background: #a649f8;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}
